<h2>
  <%= @project.title %>
</h2>

<link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">


<ul class="revisions">
<% @project.revisions.reverse.each do |revision| %>
  <li><%= p revision.description  %></li>
<% end %>
</ul>

<hr>

<%=  render partial: 'form2' %>
