<h2>
  <%= @project.title %>
</h2>




<ul class="revisions">
<ul class="images">
<% @project.revisions.reverse.each do |revision| %>
  <li><%= p revision.description  %></li>
<% end %>
</ul>

<hr>

<%=  render partial: 'form2' %>
