
body {
  background: #dbdbdb;
}
header {

  text-align: center;
  font-family:'Meera Inimai', sans-serif;
  font-size: 23px;


}

ul.revisions {
  list-style-type: none;
  padding-left: 0;
}

ul.revisions li {
  width: 60%;
  border: 2px solid gray;
  margin-bottom: 10px;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 10px 10px 13px 0px rgba(0,0,0,0.4);
  padding: 57px;
}

h1 {
text-align: center;
font-family: 'Libre Barcode 39 Text', cursive;
font-size: 70px;

}
div.layout {
text-align: center;
font-family: 'Libre Barcode 39 Text', cursive;
font-size: 70px;


}
footer{
  text-align: center;
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 23px;
}
h2 {
text-align: center;
font-family:'Meera Inimai', sans-serif;
font-size: 23px;

}


.revisions{


  text-align: center;


  font-family:'Meera Inimai', sans-serif;

}
h3 {
text-align: center;
font-family:'Meera Inimai', sans-serif;
font-size: 18px;

}

div.b{

  font-family:'Meera Inimai', sans-serif;

  text-align: justify;

}
div.cp{

  font-family:'Meera Inimai', sans-serif;
  text-align: center;

}


div.lg{
   max-width: 300px;
   width: 50%;
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   margin-top: 30px;
   font-family:'Meera Inimai', sans-serif;
}
