
body {
  background: #dbdbdb;
}


ul.revisions {
  list-style-type: none;
  padding-left: 0;
}

ul.revisions li {
  width: 60%;
  border: 2px solid gray;
  margin-bottom: 10px;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 10px 10px 13px 0px rgba(0,0,0,0.4);
  padding: 57px;
}
